In [1]:
# modules we'll use

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

#mount Google Drive
#from google.colab import drive
#drive.mount('/content/drive')

# import sys
# sys.path.append('/content/drive/MyDrive/Praca Inżynierska/kickstarter/code')

from preprocessing.label_binarizer import DataFrameLabelBinarizer

In [2]:
# read in all our data

# Google Drive's path: /content/drive/MyDrive/Praca Inżynierska/kickstarter/data/ks-projects-201801.csv
ks_projects_orig  = pd.read_csv("../data/ks-projects-201801.csv")

# set seed for reproducibility
np.random.seed(0) 

# look at a few rows of the ks_projects file
ks_projects_orig.sample(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
338862,796196901,10G Christmas Tree,Art,Art,USD,2010-12-26,10526.0,2010-12-08 08:44:04,0.0,failed,0,US,0.0,0.0,10526.0
277871,483825010,Gliff,Gaming Hardware,Games,USD,2016-03-28,10000.0,2016-01-28 04:56:18,51.0,failed,5,US,51.0,51.0,10000.0
47000,123916947,STUFFED Food Truck,Food Trucks,Food,USD,2015-01-06,60000.0,2014-11-07 02:24:36,25.0,failed,1,US,25.0,25.0,60000.0
111338,1565733636,NeoExodus Adventure: Origin of Man for Pathfin...,Tabletop Games,Games,USD,2012-05-01,500.0,2012-03-15 01:16:10,585.0,successful,17,US,585.0,585.0,500.0
53743,1273544891,NAPOLEON IN NEW YORK! an original TV Series,Comedy,Film & Video,USD,2016-07-26,25000.0,2016-05-27 00:07:25,25.0,failed,1,US,25.0,25.0,25000.0

In [3]:
# get info about DataFrame columns
ks_projects_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                378661 non-null  int64
 1   name              378657 non-null  object
 2   category          378661 non-null  object
 3   main_category     378661 non-null  object
 4   currency          378661 non-null  object
 5   deadline          378661 non-null  object
 6   goal              378661 non-null  float64
 7   launched          378661 non-null  object
 8   pledged           378661 non-null  float64
 9   state             378661 non-null  object
 10  backers           378661 non-null  int64
 11  country           378661 non-null  object
 12  usd pledged       374864 non-null  float64
 13  usd_pledged_real  378661 non-null  float64
 14  usd_goal_real     378661 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

In [4]:
# get info about DataFrame columns
ks_projects_orig.info()

# look at a few rows of the ks_projects file
ks_projects_orig.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                378661 non-null  int64
 1   name              378657 non-null  object
 2   category          378661 non-null  object
 3   main_category     378661 non-null  object
 4   currency          378661 non-null  object
 5   deadline          378661 non-null  object
 6   goal              378661 non-null  float64
 7   launched          378661 non-null  object
 8   pledged           378661 non-null  float64
 9   state             378661 non-null  object
 10  backers           378661 non-null  int64
 11  country           378661 non-null  object
 12  usd pledged       374864 non-null  float64
 13  usd_pledged_real  378661 non-null  float64
 14  usd_goal_real     378661 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
299667,595962034,Button Poetry Live!,Mixed Media,Art,USD,2015-09-18,10000.0,2015-08-19 19:34:20,18216.27,successful,455,US,18216.27,18216.27,10000.00
181674,1924707671,"C STREET 2012 : Tbilisi, Georgia",World Music,Music,USD,2012-06-07,5000.0,2012-05-08 18:22:59,7210.69,successful,82,US,7210.69,7210.69,5000.00
137583,1698707842,Dérive's Next Project,Punk,Music,USD,2014-07-06,1200.0,2014-06-08 17:58:37,1255.66,successful,33,US,1255.66,1255.66,1200.00
296861,581269566,Photo Book - World Santa Claus Congress,Photobooks,Photography,DKK,2017-04-14,110000.0,2017-03-14 23:45:35,462.00,failed,5,DK,0.00,66.46,15823.47
66362,1337585114,Kickstart CLE Brewing to greatness!,Drinks,Food,USD,2017-08-19,6500.0,2017-07-20 21:22:43,250.00,failed,5,US,75.00,250.00,6500.00

In [5]:
# convert categorical data to one-hot-encoded
lb_category = DataFrameLabelBinarizer(data_frame=ks_projects_orig, column_to_encode='category')
ks_projects_orig = lb_category.encode()

lb_main_category = DataFrameLabelBinarizer(data_frame=ks_projects_orig, column_to_encode='main_category')
ks_projects_orig = lb_main_category.encode()

lb_country = DataFrameLabelBinarizer(data_frame=ks_projects_orig, column_to_encode='country')
ks_projects_orig = lb_country.encode()

# get info about DataFrame columns
# ks_projects_orig.info()

# look at a few rows of the ks_projects file
ks_projects_orig.sample(5)

,ID,name,currency,deadline,goal,launched,pledged,state,backers,usd pledged,...,13,14,15,16,17,18,19,20,21,22
284129,515317667,Three Zombies in Philadelphia,USD,2013-05-29,20000.0,2013-03-30 19:36:04,29.99,failed,4,29.99,...,0,0,0,0,0,0,0,0,0,1
187025,1952141049,Chroma Cafe and Bakery Hood and Expansion Project,USD,2014-05-30,9750.0,2014-04-25 03:13:43,9900.00,successful,134,9900.00,...,0,0,0,0,0,0,0,0,0,1
231103,24476326,The L Train,USD,2017-09-09,6000.0,2017-08-25 00:00:26,6065.00,successful,81,340.00,...,0,0,0,0,0,0,0,0,0,1
117045,1594525425,Slimo - Desktop Buddy,USD,2017-11-01,250.0,2017-10-02 20:10:09,22.00,failed,3,10.00,...,0,0,0,0,0,0,0,0,0,1
214293,2091909738,TheBoutSheet.Com Mobile Aps,USD,2015-06-24,25000.0,2015-05-18 23:40:29,0.00,failed,0,0.00,...,0,0,0,0,0,0,0,0,0,1

In [6]:
# Parsing Dates

# convert 'deadline' and 'launched' columns to datetime
ks_projects_orig['deadline'] = pd.to_datetime(ks_projects_orig['deadline'])
ks_projects_orig['launched'] = pd.to_datetime(ks_projects_orig['launched'])

## print the first few rows of the date column
print(ks_projects_orig['deadline'].head())

# create a new column, deadline_parsed, with the parsed dates
ks_projects_orig['deadline_parsed'] = pd.to_datetime(ks_projects_orig['deadline'], format = "%Y-%m-%d")

# print the first few rows
ks_projects_orig['deadline_parsed'].head()


# create a new column, launched_parsed, with the parsed dates
ks_projects_orig['launched_parsed'] = pd.to_datetime(ks_projects_orig['launched'], format = "%Y-%m-%d")

# print the first few rows
ks_projects_orig['launched_parsed'].head()

# create a new column diff, as a difference between deadline and launched
ks_projects_orig['duration'] = ks_projects_orig['deadline_parsed'] - ks_projects_orig['launched_parsed']
ks_projects_orig['duration'] = ks_projects_orig['duration'].astype('timedelta64[D]')

# print the first few rows
ks_projects_orig['duration'].head()

0   2015-10-09
1   2017-11-01
2   2013-02-26
3   2012-04-16
4   2015-08-29
Name: deadline, dtype: datetime64[ns]

0    58.0
1    59.0
2    44.0
3    29.0
4    55.0
Name: duration, dtype: float64

In [ ]:
# convert status to numeric value applying function:
# 'success' -> 1
# 'other' -> sigmoid(ks_projects_orig['usd_pledged_real'] / ks_projects_orig['usd_goal_real'])
# where 0.2 is an arbitrary penalty for failure
ks_projects_orig['state_converted'] = np.where(ks_projects_orig['state'] == 'successful', 1,
                                               ks_projects_orig['usd_pledged_real'] / ks_projects_orig['usd_goal_real'])
ks_projects_orig['state_converted'] = ks_projects_orig['state_converted'].apply(lambda x: 1 if x > 1 else x)
ks_projects_orig['state_converted'] = np.where(ks_projects_orig['state'] != 'successful', ks_projects_orig['state_converted'] - 0.2, ks_projects_orig['state_converted'])
ks_projects_orig['state_converted'] = ks_projects_orig['state_converted'].apply(lambda x: 0 if x < 0 else x)

# print the first few rows
ks_projects_orig['state_converted'].head()

In [8]:
# drop redundant columns
ks_projects_reduced = ks_projects_orig.drop(['ID', 'name', 'currency', 'goal', 'pledged', 'usd pledged', 'usd_pledged_real', 'deadline',
                                             'deadline_parsed', 'launched', 'launched_parsed', 'state'], axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Columns: 201 entries, backers to state_converted
dtypes: float64(3), int32(197), int64(1)
memory usage: 296.1 MB

,backers,usd_goal_real,0,1,2,3,4,5,6,7,...,15,16,17,18,19,20,21,22,duration,state_converted
210467,4,23000.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,0.000000
227681,9,19999.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,30.0,0.800000
262382,24,5.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,1.000000
272105,7,5000.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,59.0,0.000000
246321,47,2000.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,1.000000
125981,30,1700.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,28.0,0.188235
298178,23,7629.51,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,29.0,0.696801
110407,56,5227.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,1.000000
18374,662,10000.00,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,22.0,1.000000
186882,1,60214.85,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,29.0,0.000000
364183,0,50000.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,59.0,0.000000
46072,75,25000.00,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,0.000000
187432,91,50000.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,32.0,0.189840
327436,12,21000.00,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,29.0,0.000000
267943,0,15000.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,0.000000
47170,150,6500.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,56.0,1.000000
288314,72,5858.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,31.0,1.000000
218875,5,800.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,0.000000
284309,15,1.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,9.0,1.000000
158333,9,15000.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,0.000000
159427,48,20000.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,0.000000
100293,125,100000.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,0.000000
224339,3,7477.29,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,29.0,0.000000
113089,1574,10000.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,24.0,1.000000
28058,0,15.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,0.000000
13973,14,30000.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,0.000000
265676,50,10000.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,59.0,0.026300
331364,0,105.80,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,29.0,0.000000
284094,25,7500.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,0.000000
286727,3,5000.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,29.0,0.000000

In [ ]:
# get info about DataFrame columns
ks_projects_reduced.info()

In [ ]:
# look at a few rows of the ks_projects file
ks_projects_reduced.sample(5)

In [9]:
# convert to numpy_array
ks_projects_numpy = ks_projects_reduced.to_numpy()

array([[0.00000e+00, 1.53395e+03, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 5.80000e+01,
        0.00000e+00],
       [1.50000e+01, 3.00000e+04, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 5.90000e+01,
        0.00000e+00],
       [3.00000e+00, 4.50000e+04, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 4.40000e+01,
        0.00000e+00],
       [1.00000e+00, 5.00000e+03, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 2.90000e+01,
        0.00000e+00]])

In [10]:
# split numpy array into train and test datasets

train_indices = np.random.rand(len(ks_projects_numpy)) < 0.8

ks_projects_numpy_col_no = ks_projects_numpy.shape[1]

train_set = ks_projects_numpy[train_indices]
X_train, y_train = train_set[:, range(ks_projects_numpy_col_no - 1)], train_set[:, ks_projects_numpy_col_no - 1]

test_set = ks_projects_numpy[~train_indices]
X_test, y_test = test_set[:, range(ks_projects_numpy_col_no - 1)], test_set[:, ks_projects_numpy_col_no - 1]

In [13]:
# create first simple model using Keras Sequential

n_inputs = train_set.shape[1] - 1
n_hidden1 = 600
n_hidden2 = 300
drop_rate = 0.5
momentum = 0.9
learning_rate = 0.1

he_init = keras.initializers.he_normal()
elu = keras.activations.elu
batch_normalization = layers.BatchNormalization
dropout = layers.Dropout

model = keras.Sequential(
    [
        keras.Input(shape=(n_inputs,)),
        layers.Dense(n_hidden1, kernel_initializer= he_init , activation=elu, name="hidden1"),
        batch_normalization(momentum=momentum),
        dropout(rate=drop_rate),
        layers.Dense(n_hidden2, kernel_initializer=he_init, activation=elu, name="hidden2"),
        batch_normalization(momentum=momentum),
        dropout(rate=drop_rate),
        layers.Dense(1, activation=keras.activations.linear, name="outputs"),
        batch_normalization(momentum=momentum)
    ]
)

#print model details
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
hidden1 (Dense)              (None, 600)               120600
_________________________________________________________________
batch_normalization (BatchNo (None, 600)               2400
_________________________________________________________________
dropout (Dropout)            (None, 600)               0
_________________________________________________________________
hidden2 (Dense)              (None, 300)               180300
_________________________________________________________________
batch_normalization_1 (Batch (None, 300)               1200
_________________________________________________________________
dropout_1 (Dropout)          (None, 300)               0
_________________________________________________________________
outputs (Dense)              (None, 1)                 301
_________________________________________________________________
batch_normalization_2 (Batch (None, 1)                 4
=================================================================
Total params: 304,805
Trainable params: 303,003
Non-trainable params: 1,802
_________________________________________________________________

In [ ]:
# train model
optimizer = tf.compat.v1.train.MomentumOptimizer(learning_rate=learning_rate, momentum=momentum, use_nesterov=True)
model.compile(optimizer=optimizer, loss=keras.losses.mse, metrics=['mse', 'mae'])
history=model.fit(X_train, y_train, epochs=30, batch_size=150, verbose=1, validation_split=0.2)

Train on 242228 samples, validate on 60558 samples
Epoch 1/30
242228/242228 [==============================] - 12s 50us/sample - loss: 0.2116 - mse: 0.2116 - mae: 0.4288 - val_loss: 0.2432 - val_mse: 0.2432 - val_mae: 0.4183
Epoch 2/30
242228/242228 [==============================] - 11s 47us/sample - loss: 0.2094 - mse: 0.2094 - mae: 0.4266 - val_loss: 0.2417 - val_mse: 0.2417 - val_mae: 0.4407
Epoch 3/30
242228/242228 [==============================] - 11s 44us/sample - loss: 0.2086 - mse: 0.2086 - mae: 0.4252 - val_loss: 0.2226 - val_mse: 0.2226 - val_mae: 0.4362
Epoch 4/30
242228/242228 [==============================] - 11s 44us/sample - loss: 0.2088 - mse: 0.2088 - mae: 0.4253 - val_loss: 2.9420 - val_mse: 2.9420 - val_mae: 0.4247
Epoch 5/30
242228/242228 [==============================] - 12s 48us/sample - loss: 0.2077 - mse: 0.2077 - mae: 0.4237 - val_loss: 0.2349 - val_mse: 0.2349 - val_mae: 0.4312
Epoch 6/30
242228/242228 [==============================] - 11s 45us/sample - loss: 0.2076 - mse: 0.2076 - mae: 0.4234 - val_loss: 1.2599 - val_mse: 1.2599 - val_mae: 0.4495
Epoch 7/30
242228/242228 [==============================] - 11s 43us/sample - loss: 0.2076 - mse: 0.2076 - mae: 0.4233 - val_loss: 0.3042 - val_mse: 0.3042 - val_mae: 0.4367
Epoch 8/30
242228/242228 [==============================] - 11s 44us/sample - loss: 0.2061 - mse: 0.2061 - mae: 0.4212 - val_loss: 1.1751 - val_mse: 1.1751 - val_mae: 0.4253
Epoch 9/30
242228/242228 [==============================] - 11s 45us/sample - loss: 0.2074 - mse: 0.2074 - mae: 0.4227 - val_loss: 5.3669 - val_mse: 5.3669 - val_mae: 0.4431
Epoch 10/30
242228/242228 [==============================] - 11s 46us/sample - loss: 0.2064 - mse: 0.2064 - mae: 0.4217 - val_loss: 1.2231 - val_mse: 1.2231 - val_mae: 0.4409
Epoch 11/30
242228/242228 [==============================] - 11s 45us/sample - loss: 0.2074 - mse: 0.2074 - mae: 0.4227 - val_loss: 0.2365 - val_mse: 0.2365 - val_mae: 0.4312
Epoch 12/30
242228/242228 [==============================] - 11s 44us/sample - loss: 0.2067 - mse: 0.2067 - mae: 0.4216 - val_loss: 36.3242 - val_mse: 36.3242 - val_mae: 0.4684
Epoch 13/30
242228/242228 [==============================] - 11s 45us/sample - loss: 0.2051 - mse: 0.2051 - mae: 0.4193 - val_loss: 7.7620 - val_mse: 7.7620 - val_mae: 0.4481
Epoch 14/30
242228/242228 [==============================] - 11s 44us/sample - loss: 0.2059 - mse: 0.2059 - mae: 0.4206 - val_loss: 2.4924 - val_mse: 2.4924 - val_mae: 0.4335
Epoch 15/30
242228/242228 [==============================] - 11s 45us/sample - loss: 0.2072 - mse: 0.2072 - mae: 0.4224 - val_loss: 7.5168 - val_mse: 7.5168 - val_mae: 0.4542
Epoch 16/30
242228/242228 [==============================] - 11s 45us/sample - loss: 0.2071 - mse: 0.2071 - mae: 0.4226 - val_loss: 2.1732 - val_mse: 2.1732 - val_mae: 0.4508
Epoch 17/30
242228/242228 [==============================] - 11s 45us/sample - loss: 0.2069 - mse: 0.2069 - mae: 0.4222 - val_loss: 0.4114 - val_mse: 0.4114 - val_mae: 0.4312
Epoch 18/30
242228/242228 [==============================] - 11s 45us/sample - loss: 0.2069 - mse: 0.2069 - mae: 0.4219 - val_loss: 8.3470 - val_mse: 8.3470 - val_mae: 0.4513
Epoch 19/30
242228/242228 [==============================] - 11s 44us/sample - loss: 0.2067 - mse: 0.2067 - mae: 0.4215 - val_loss: 0.2505 - val_mse: 0.2505 - val_mae: 0.4399
Epoch 20/30
242228/242228 [==============================] - 11s 45us/sample - loss: 0.2072 - mse: 0.2072 - mae: 0.4225 - val_loss: 0.3468 - val_mse: 0.3468 - val_mae: 0.4480
Epoch 21/30
242228/242228 [==============================] - 11s 44us/sample - loss: 0.2051 - mse: 0.2051 - mae: 0.4188 - val_loss: 8.2101 - val_mse: 8.2101 - val_mae: 0.4462
Epoch 22/30
242228/242228 [==============================] - 11s 45us/sample - loss: 0.2040 - mse: 0.2040 - mae: 0.4171 - val_loss: 3.4923 - val_mse: 3.4923 - val_mae: 0.4443
Epoch 23/30
242228/242228 [==============================] - 11s 45us/sample - loss: 0.2025 - mse: 0.2025 - mae: 0.4144 - val_loss: 0.2203 - val_mse: 0.2203 - val_mae: 0.4448
Epoch 24/30
242228/242228 [==============================] - 11s 45us/sample - loss: 0.2067 - mse: 0.2067 - mae: 0.4215 - val_loss: 3.9810 - val_mse: 3.9810 - val_mae: 0.4350
Epoch 25/30
242228/242228 [==============================] - 11s 44us/sample - loss: 0.2034 - mse: 0.2034 - mae: 0.4159 - val_loss: 0.2466 - val_mse: 0.2466 - val_mae: 0.4297
Epoch 26/30
242228/242228 [==============================] - 11s 45us/sample - loss: 0.2060 - mse: 0.2060 - mae: 0.4203 - val_loss: 0.2325 - val_mse: 0.2325 - val_mae: 0.4308
Epoch 27/30
114750/242228 [=============>................] - ETA: 5s - loss: 0.2036 - mse: 0.2036 - mae: 0.4164

In [ ]:
# print model loss
print(history.history.keys())

In [ ]:
# "Loss"
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'validation'], loc='upper left')
plt.show()